# Assignment 1 - Python Basics Practice

## Problem 1 - Variables and Data Types

**Q1: Assign your name to the variable `name`.**

In [1]:
name = 'sarathchandrika'

**Q2: Assign your age (real or fake) to the variable `age`.**

In [2]:
age = 22

**Q3: Assign a boolean value to the variable `has_android_phone`.**

In [3]:
has_android_phone = False

In [4]:
name, age, has_android_phone

('sarathchandrika', 22, False)

**Q4: Create a dictionary `person` with keys `"Name"`, `"Age"`, `"HasAndroidPhone"` and values using the variables defined above.**

In [5]:
person = {'Name' : 'sarathchandrika', 'Age':22, 'HasAndroidPhone':False}

In [6]:
print("{} is aged {}, and owns an {}.".format(
    person["Name"], 
    person["Age"], 
    "Android phone" if person["HasAndroidPhone"] else "iPhone"
))

sarathchandrika is aged 22, and owns an iPhone.

**Q4b: Use a `for` loop to display the `type` of each value stored against each key in `person`.**
```

In [7]:
for k in person.keys():
  print("The key", k, "has the value", person[k], "of the type ", type(person[k]))

The key Name has the value sarathchandrika of the type  <class 'str'>
The key Age has the value 22 of the type  <class 'int'>
The key HasAndroidPhone has the value False of the type  <class 'bool'>

## Problem 2 - Working with Lists

**Q5: Create a list containing the following 3 elements:**

* your favorite color
* the number of pets you have
* a boolean value describing whether you have previous programming experience

In [8]:
my_list = list(['blue', 0, True])

In [9]:
my_list

['blue', 0, True]

**Q6: Complete the following `print` and `if` statements by accessing the appropriate elements from `my_list`.**

In [10]:
print('My favorite color is', my_list[0])

My favorite color is blue

In [11]:
print('I have {} pet(s).'.format(my_list[1]))

I have 0 pet(s).

In [12]:
if my_list[2]:
    print("I have previous programming experience")
else:
    print("I do not have previous programming experience")

I have previous programming experience

**Q7: Add your favorite single digit number to the end of the list using the appropriate list method.**

In [13]:
my_list.append(4)

In [15]:
my_list

['blue', 0, True, 4]

**Q8: Remove the first element of the list, using the appropriate list method.**

In [16]:
my_list.pop(0)

'blue'

In [17]:
my_list

[0, True, 4]

**Q9: Complete the `print` statement below to display the number of elements in `my_list`.**

In [18]:
print("The list has {} elements.".format(len(my_list)))

The list has 3 elements.

## Problem 3 - Conditions and loops

**Q10: Calculate and display the sum of all the numbers divisible by 7 between 18 and 534 i.e. `21+28+35+...+525+532`**.

In [19]:
sum_of_numbers = 0

for i in range(18, 534):
  if i%7 == 0:
    sum_of_numbers = sum_of_numbers + i

In [20]:
print('The sum of all the numbers divisible by 7 between 18 and 534 is', sum_of_numbers)

The sum of all the numbers divisible by 7 between 18 and 534 is 20461

## Problem 4 - Flying to the Bahamas

**Q11: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company?**

Fill in values or arithmetic expressions for the variables below.

In [21]:
cost_of_flying_plane = 5000

In [22]:
number_of_passengers = 29

In [23]:
price_of_ticket = 200

In [24]:
profit = (price_of_ticket * number_of_passengers) - cost_of_flying_plane

In [25]:
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 800 dollars

**Q11b : Out of the 29 people who took the flight, only 12 buy tickets to return from the Bahamas on the same plane. If the flying the plane back also costs 5000 dollars, and does the company make an overall profit or loss? The company charges the same fee of 200 dollars per ticket for the return flight.**

In [26]:
return_number_of_passengers = 12 
total_profit_or_loss = ((number_of_passengers + return_number_of_passengers) * 200) - (cost_of_flying_plane * 2)

In [27]:
if total_profit_or_loss > 0:
    print("The company makes an overall profit of {} dollars".format(total_profit_or_loss))
else:
    print("The company makes an overall loss of {} dollars".format(total_profit_or_loss))

The company makes an overall loss of -1800 dollars

## Problem 5 - Twitter Sentiment Analysis

In this some fictional tweets are analysec and find out whether the overall sentiment of Twitter users is happy or sad. This is a simplified version of Sentiment Analysis.

In [28]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]


**Q12: How many tweets does the dataset contain?**

In [29]:
number_of_tweets = len(tweets)

In [30]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [31]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [32]:
sample_tweet = tweets[0]

In [33]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [35]:
is_tweet_happy = False

for word in happy_words:
    if word in sample_tweet:
        is_tweet_happy = True

In [36]:
is_tweet_happy

True

**Q13: Determine the number of tweets in the dataset that can be classified as happy.**

In [37]:
number_of_happy_tweets = 0

for tweet in tweets:
  for word in happy_words:
    if word in tweet:
      number_of_happy_tweets += 1
      break

In [38]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 6

**Q14: What fraction of the total number of tweets are happy?**

For example, if 2 out of 10 tweets are happy, then the answer is `2/10` i.e. `0.2`.

In [39]:
happy_fraction = number_of_happy_tweets / number_of_tweets

In [40]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 0.6

To identify whether a tweet is sad, we can simply check if contains any of the words from `sad_words`.

**Q15: Determine the number of tweets in the dataset that can be classified as sad.**

In [41]:
number_of_sad_tweets = 0

for tweet in tweets:
  for word in sad_words:
    if word in tweet:
      number_of_sad_tweets += 1
      break

In [42]:
print("Number of sad tweets:", number_of_sad_tweets)

Number of sad tweets: 2

**Q16: What fraction of the total number of tweets are sad?**

In [43]:
sad_fraction = number_of_sad_tweets/number_of_tweets

In [44]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 0.2


**Q16b : Calculate the sentiment score, which is defined as the difference betweek the fraction of happy tweets and the fraction of sad tweets.**

In [45]:
sentiment_score = happy_fraction - sad_fraction

In [46]:
print("The sentiment score for the given tweets is", sentiment_score)

The sentiment score for the given tweets is 0.39999999999999997

**Q16c: Display whether the overall sentiment of the given dataset of tweets is happy or sad, using the sentiment score.**

In [47]:
if sentiment_score > 0:
    print("The overall sentiment is happy")
else:
    print("The overall sentiment is sad")

The overall sentiment is happy


**Q16d: What is the fraction of tweets that are neutral i.e. neither happy nor sad.**

In [48]:
number_of_neutral_tweets = 0

number_of_neutral_tweets = number_of_tweets - (number_of_happy_tweets + number_of_sad_tweets)

In [52]:
neutral_fraction = number_of_neutral_tweets / number_of_tweets

In [53]:
print('The fraction of neutral tweets is', neutral_fraction)

The fraction of neutral tweets is 0.2